@import '~/variables.scss';

.action {
    position: relative;
    margin: 0px;
    &.has_router {
        &:last-child {
            border-bottom: 1px solid $borders;
        }
    }
    clear: both;
}

.body {
    line-height: 1.4em;
    word-wrap: break-word;
    width: auto;

    &.add_input_labels,
    &.send_msg,
    &.set_contact_field,
    &.set_contact_name,
    &.call_webhook,
    &.call_resthook,
    &.set_contact_language,
    &.set_contact_channel,
    &.add_contact_groups,
    &.remove_contact_groups,
    &.set_run_result,
    &.send_email,
    &.send_broadcast,
    &.transfer_airtime,
    &.missing,
    &.start_flow {
        width: $node_width - $action_padding * 2;
        padding: $action_padding;
    }

    &.send_broadcast,
    &.start_session {
        padding: 0px;
        width: $node_width;
    }

    &.missing {
        color: tomato;
        cursor: default;
    }
}

.not_localizable {
    .overlay {
        display: block;
    }
    .body {
        background: #fff !important;
    }
}

.translate_from {
    background: $translation_bg;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $translation_bg - #111;
    margin-bottom: 12px;
}

.translate_to {
    padding: 5px;
    font-weight: 400;
}

.translating {
    .body {
        background: $translation_bg;
    }
}

.missing_localization {
    .body {
        color: $translation_missing;
    }
}

.overlay {
    cursor: default;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    $color_1: rgba(0, 0, 0, 0.12);
    $color_2: rgba(0, 0, 0, 0.1);
}
