.line {
  display: block;
  margin-top: 3px;
  min-height: 11px;
}

.body {
  padding: 10px;
}

.listButton {
  margin-top: 4px;
  border: 1px solid #93a29b;
  border-radius: 27px;
  width: 160px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 8px;
}

.listButton svg {
  margin-right: 6px;
}

.attachment {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.expression {
  margin-top: 10px;
}

.listItem {
  width: 48% !important;
  margin: 4px 4px;
}

.list_container {
  max-height: 200px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.variable_count {
  width: 100%;
  margin: 4px 8px;
}

.checkbox {
  margin: 20px 8px;
  margin-bottom: 5px;
}
