@import '~/variables.scss';

$reset_color: #666;

.sim-container {
    position: fixed;
    right: 0;
    z-index: $z_simulator;
}

.simulator.sim-hidden {
    left: 0px !important;
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
    transition-delay: 100ms;
}

.simulator {
    background: $black;
    border-radius: 12px;
    box-shadow: $node_shadow $node_shadow_color;

    input {
        &:focus {
            outline-color: transparent;
            outline-style: none;
        }
        &::-webkit-input-placeholder {
            color: $placeholder_color;
        }
        &::-moz-placeholder {
            color: $placeholder_color;
        }
        &:-ms-input-placeholder {
            color: $placeholder_color;
        }
        &:-moz-placeholder {
            color: $placeholder_color;
        }
    }
    input:disabled {
        background: #e6e6e6 + #111;
        cursor: not-allowed;
        $disabled_color: $placeholder_color - #111;
        &::-webkit-input-placeholder {
            color: $disabled_color;
        }
        &::-moz-placeholder {
            color: $disabled_color;
        }
        &:-ms-input-placeholder {
            color: $disabled_color;
        }
        &:-moz-placeholder {
            color: $disabled_color;
        }
    }
    left: -300px;
    top: 0px;
    position: absolute;
    height: 500px;
    width: 260px;
    cursor: pointer;
    z-index: $z_simulator;
    transition: right 400ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
    transition-delay: 100ms;

    .screen {
        top: 6px;
        height: 488px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        margin: 0px 5px;
        cursor: default;

        .header {
            color: #eee;
            background: #555;
            height: 32px;
            .close {
                font-size: 20px;
                width: 25px;
                height: 25px;
                right: 5px;
                top: 5px;
                position: absolute;
                color: #ddd;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
            .time {
                display: inline-block;
                visibility: hidden;
            }
            .battery {
                display: inline-block;
                visibility: hidden;
                right: 12px;
                position: absolute;
                font-size: 13px;
            }
            .wifi {
                visibility: hidden;
                display: inline-block;
                right: 38px;
                position: absolute;
            }
        }

        .footer {
            color: #eee;
            background: #555;
            height: 35px;

            .reset {
                background-color: $reset_color;
                border: 2px solid $reset_color + #121212;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 16px;
                cursor: pointer;
                width: 60px;
                height: 15px;
                position: absolute;
                left: 94px;
                margin: 8px 0px;

                &:hover {
                    background-color: $reset_color + #121212;
                    border: 2px solid $reset_color + #131313;
                }

                .inactive {
                    background-color: $reset_color;
                    border: 2px solid $reset_color + #121212;
                }

                .active {
                    background-color: $reset_color;
                    border: 2px solid $reset_color + #121212;
                }
            }
        }

        .messages {
            background-color: #fff;
            user-select: none;
            height: 366px;
            padding: 10px;
            overflow-y: auto;
            overflow-x: hidden;
            font-weight: 300;
            position: relative;
        }
        .controls {
            background: $light_gray;
            border: 0px solid yellow;
            bottom: 0px;
            width: 240px;
            padding: 5px 5px;
            input {
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
                border-radius: 4px;
                border: none;
                outline: none;
                box-shadow: none;
                font-size: 12px !important;
                font-weight: 300;
                height: 13px;
                width: 223px;
                padding: 6px 8px;
                color: #333;
            }
        }
    }
}

.simulator-tab.tab_hidden,
.simulator-tab:hover.tab_hidden {
    right: -110px;
    transition: right 100ms;
}

.simulator-tab {
    background-color: #2db379;
    width: 110px;
    height: 50px;
    position: fixed;
    right: -80px;
    top: 220px;
    cursor: pointer;
    z-index: $z_simulator;
    transition: right 200ms, opacity 300ms;
    transition-delay: 300ms;
    .simulator-tab-icon {
        position: absolute;
        font-size: 30px;
        color: white;
        padding: 10px 0px;
    }
    .simulator-tab-text {
        position: absolute;
        left: 35px;
        top: 10px;
        color: white;
        opacity: 0.01;
        font-weight: 400;
        transition: opacity 500ms;
        transition-delay: 1000ms;
    }
}

.simulator-tab:hover {
    right: -10px;
    transition: right 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .simulator-tab-text {
        opacity: 0.99;
        transition: opacity 500ms;
    }
}

.evt {
    clear: both;
    margin-bottom: 8px;
}

.send-msg {
    padding: 8px 15px;
    background: $light_gray;
    border: 1px solid $light_gray + #111;
    border-radius: 10px;
    margin-right: 24px;
    color: #333;
}

.msg-received {
    padding: 8px 15px;
    text-align: right;
    background: #2095fe;
    border: 1px solid #2095fe + #111;
    border-radius: 10px;
    margin-left: 24px;
    color: #fff;
}

.error {
    float: inherit;
    background: none;
    color: $red;
    font-size: 13px;
    border: none;
    text-align: center;
}

.info {
    border: none;
    text-align: center;
    color: #bbb;
    font-size: 11px;
}

.webhook {
    word-break: break-all;
    text-decoration: underline;
    &:hover {
        color: #999;
    }
}

.webhook-details {
    unicode-bidi: embed;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    overflow-y: auto;
    max-height: 500px;
    padding: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    ::first-line {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 34px;
    }
    .response {
        padding-top: 20px;
    }
}

.event-viewer {
    pre {
        height: 400px;
        white-space: pre-wrap;
        /* css-3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        border: none;
        border-radius: none;
        background-color: white;
    }
}

.has-detail {
    cursor: pointer;
}

.detail_webhook_called {
    background: $orange;
}
