@import 'variables.module.scss';

.case_list {
  margin: 4px -15px;
  position: relative;
  overflow-y: scroll;
  max-height: 250px;
  padding-bottom: 10px;
  padding-top: 6px;
}

.kase {
  z-index: 2000;
}
