.label {
    display: inline-block;
    position: inherit;
    font-weight: 300;
    cursor: pointer;
}

.title {
    display: inline-block;
    margin-left: 8px;
    font-weight: 400;
}

.description {
    margin-top: 5px;
    margin-left: 22px;
}

.description-solo {
    display: inline-block;
    margin-left: 8px;
}
