@import '~/variables.scss';

.btn {
    display: inline-block;

    font-weight: 300;
    font-size: 13px;

    cursor: pointer;

    border-radius: 4px;
    background: $button_dark;
    background-image: -webkit-linear-gradient(top, $button_light, $button_dark);
    background-image: -moz-linear-gradient(top, $button_light, $button_dark);
    background-image: -ms-linear-gradient(top, $button_light, $button_dark);
    background-image: -o-linear-gradient(top, $button_light, $button_dark);
    background-image: linear-gradient(to bottom, $button_light, $button_dark);
    color: #ffffff;
    padding: 8px 16px 8px 16px;
    text-decoration: none;

    border: 1px solid rgba(90, 90, 90, 0.1);

    &.disabled {
        background: $button_disabled;
        text-decoration: none;
        color: $button_disabled - #111 !important;
        cursor: default;

        &:hover {
            background: $button_disabled;
        }
    }

    &:hover {
        background: $button_hover;
        background-image: -webkit-linear-gradient(top, $button_hover, $button_light);
        background-image: -moz-linear-gradient(top, $button_hover, $button_light);
        background-image: -ms-linear-gradient(top, $button_hover, $button_light);
        background-image: -o-linear-gradient(top, $button_hover, $button_light);
        background-image: linear-gradient(to bottom, $button_hover, $button_light);
        text-decoration: none;
    }

    &.primary {
        color: #fff;
    }

    &.secondary {
        color: #666;
        background: $button_dark;
        background-image: -webkit-linear-gradient(top, $button_light, $button_dark);
        background-image: -moz-linear-gradient(top, $button_light, $button_dark);
        background-image: -ms-linear-gradient(top, $button_light, $button_dark);
        background-image: -o-linear-gradient(top, $button_light, $button_dark);
        background-image: linear-gradient(to bottom, $button_light, $button_dark);
        background: none;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $light_gray - #111;
        }
    }

    &.tertiary {
        color: #666;
        border: 1px solid $light_gray - #111;
        background: $button_dark;
        background-image: -webkit-linear-gradient(top, $button_light, $button_dark);
        background-image: -moz-linear-gradient(top, $button_light, $button_dark);
        background-image: -ms-linear-gradient(top, $button_light, $button_dark);
        background-image: -o-linear-gradient(top, $button_light, $button_dark);
        background-image: linear-gradient(to bottom, $button_light, $button_dark);
        background: none;

        &:hover {
            background: $light_gray + #111;
        }
    }
}
