@import '../../variables.scss';
$spacing: 10px;
.group {
    padding-bottom: 0 !important;
    margin-bottom: -5px;
}

.case {
    width: 100%;
    cursor: pointer;
    .form-group {
        margin: 0;
    }
    .choice {
        width: 165px;
        display: inline-block;
        .operator {
            font-size: 11px;
        }
    }
    .operand {
        display: inline-block;
        position: relative;
        top: -9px;
        margin-left: $spacing;
        input {
            width: 168px;
        }
    }
    .categorize-as {
        display: inline-block;
        font-size: 13px;
        line-height: 13px;
        position: relative;
        top: -9px;
        margin: 0px $spacing;
    }
    .category {
        display: inline-block;
        position: relative;
        top: -8px;
        input {
            width: 89px;
        }
    }
    &:hover {
        .remove-button {
            opacity: 1;
        }
    }
    input {
        padding: 5px 7px;
        height: 24px !important;
        font-size: 11px !important;
    }
}

.remove-button {
    color: #ccc;
    border: 0px solid green;
    margin-right: -20px;
    margin-top: 5px;
    float: right;
    opacity: 0;
    font-size: 15px;
    line-height: 12px;
    width: 20px;
    &:hover {
        opacity: 1;
    }
}