@import '../../variables.scss';

$spacing: 10px;

.kase {
    width: 100%;
    height: 25px;
    padding-top: 15px;
    .form-group {
        margin: 0;
    }
    .choice {
        width: 185px;
        display: inline-block;
    }
    .operand {
        display: inline-block;
        position: relative;
        top: -10px;
        margin-left: $spacing;
        width: 166px;
        input {
            width: 166px;
        }
    }
    .categorize-as {
        display: inline-block;
        font-size: $switch_router_input_font_size;
        line-height: $switch_router_input_font_size;
        position: relative;
        top: -10px;
        margin: 0px $spacing;
    }
    .category {
        display: inline-block;
        position: relative;
        top: -10px;
        input {
            width: 105px;
        }
    }
    &:hover {
        .remove-icon {
            opacity: 1;
        }

        .dnd-icon {
            opacity: 1;
        }
    }
    input {
        padding: 6px 7px;
        height: $switch_router_input_height;
        font-size: $switch_router_input_font_size;
        border: 1px solid #ccc;
    }
}

.dnd-icon {
    color: #ccc;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 5px;
    float: left;
    opacity: 0;
    font-size: 18px;
    line-height: 12px;
}

.remove-icon {
    color: #ccc;
    padding-top: 5px;
    float: right;
    opacity: 0;
    font-size: 16px;
    line-height: 12px;
}
