@import '../../variables.scss';

.ele {
    position: relative;
    &.border {
        border: 1px solid #e6e6e6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
    }
    &:focus {
        outline: none;
    }

    > .error-list {
        > .error {
            visibility: hidden;
            position: absolute;
            z-index: 30000;
            background: #fff;
            border: 1px solid tomato;
            border-radius: 5px;
            padding: 2px 5px;
            margin: 0;
            line-height: 13px;
            margin-top: 9px;
            font-size: 10px;
            width: 100px;
            text-align: center;

            color: $error_color;

            .arrow-up {
                width: 0px;
                height: 0px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid tomato;
                position: absolute;
                margin-top: -7px;
            }

            &.send-msg-error {
                margin-top: -15px;
            }

            .kase-error {
                // padding-left: 15px;
            }
            .attrib-error {
                // padding-bottom: 10px;
            }
        }
    }

    &:hover {
        // we could also show errors if an input gains focus
        // down our tree with &:focus-within here
        > .error-list > .error {
            visibility: visible;
        }
    }
}

.label {
    margin-left: 2px;
    margin-bottom: 5px;
    font-weight: 400;
}

.invalid {
    border: 1px solid $error_color !important;
    box-shadow: 0 0 0 3px rgba(255, 196, 186, 0.5) !important;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.help_text {
    color: #bbb;
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 10px;
}
