@import "../../variables.scss";

.ele {
    position: relative;
    &.border {
        border: 1px solid #e6e6e6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 10px;
    }
}

.label {
    margin-left: 2px;
    margin-bottom: 5px;
    font-weight: 400;
}

.invalid {
    border: 1px solid $error_color !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #e6e6e6;
    border-style: solid;
    box-shadow: none;
}

.error {
    color: $error_color;
    font-size: 11px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 8px;
}

.help_text {
    color: #bbb;
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 10px;
}
