@import '../../variables.scss';

.input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #e6e6e6;
    border-style:solid;
    box-shadow: none;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    padding: 5px 10px;
    height: 36px;
    font-size: 14px;
    font-weight: 300;
    border-width: 1px;
    color: $grey;
}