@import '~/variables.scss';

.pill {
    font-size: 10px;
    padding: 3px 8px;
    line-height: 10px;
    background: $light_gray_2;
    display: inline-block;
    border-radius: 8px;
    margin-right: 6px;
    margin-bottom: 3px;
    cursor: pointer;

    &:hover {
        background: $blue_selected;
    }

    .icon {
        font-size: 10px;
        position: relative;
        bottom: -1px;
    }
}

.large {
    font-size: 13px;
    line-height: 13px;
    padding: 4px 10px;

    .icon {
        font-size: 12px;
        position: relative;
        bottom: -1px;
    }
}
