.checkbox {
  margin-top: 20px;
}

.quick_reply_summary {
  margin-top: -20px;
  position: relative;
}

.type_choice {
  display: inline-block;
  width: 180px;
}

.url_attachment {
  margin-bottom: 8px;
  .upload {
    padding-left: 5px;
  }

  .remove_upload {
    // right: 21px;
    // position: absolute;
    display: inline-block;
  }

  .url {
    display: inline-block;
    margin-left: 8px;
    width: 329px;
    margin-right: 10px;

    input {
      height: 29px;
      width: 100%;
      font-size: 12px;
    }
  }

  .remove {
    display: inline-block;
  }
}
