@import 'variables.module.scss';

.flex_container {
    display: flex;
}

.flex_items {
    width: 100%;
}

.flex_items:first-child{
    margin-right: 5px;
}

.flex_items:last-child{
    margin-left: 5px;
}