@import '../../variables.scss';
.instructions {
    margin-bottom: 9px;
}

$case_height: 29px;
.cases {
    margin-bottom: 9px;
}

.save_link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
}

.save_as {
    width: 100%;
    padding-top: 10px;
}