@import '../../variables.scss';

.info {
    margin-bottom: 0px;
}

.method {
    width: 15%;
    float: left;
    margin-right: 10px;
}

.url {
    width: 480px;
    display: inline-block;
    input {
        height: 36px;
        border-color: #ccc;
    }
}

.code {
    background: #f3f3f3;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.instructions {
    margin-top: 10px;
}

.headers_title {
    margin-top: 0;
}

.remove_button {
    color: #ccc;
    border: 0px solid green;
    margin-right: -20px;
    margin-top: 5px;
    float: right;
    opacity: 0;
    font-size: 15px;
    line-height: 12px;
    width: 20px;
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}

.example {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    padding: 4px;
    font-size: .9em;
    background: $light_grey_2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.header {
    input {
        height: 28px;
        line-height: 1.2em;
        font-size: 12px;
        padding: 2px 10px;
        border-color: #ccc;
    }
    padding-top:8px;
}

.header_name {
    width: 170px;
    display: inline-block;
}

.header_value {
    width: 400px;
    display: inline-block;
    margin-left: 10px;
}

.body_form {
    .req-body {
        margin-top: 8px;
        textarea {
            unicode-bidi: embed;
            font-family: monospace;
            white-space: pre;
            font-weight: 300;
            min-height: 128px;
        }
    }
}
