@import "variables.module.scss";

.count {
  text-align: right;
  padding: 5px 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;
  min-width: 50px;
}

.fine_print {
  margin-top: 5px;
  font-size: 12px;
  line-height: 13px;
  color: lighten($gray, 20%);
}

.divider {
  padding-left: 3px;
  padding-right: 3px;
}

.tooltip .tooltip_text {
  visibility: hidden;
  min-height: 65px;
  min-width: 185px;
  background-color: white;
  color: $gray;
  text-align: left;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-shadow: $shadow_down;
  box-shadow: $shadow_down;

  /* Position tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 138%;
  left: -120%;

  /* Fade in tooltip */
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.tooltip .tooltip_text .unicode {
  left: -145%;
}

/* Show tooltip text when mouse hovers over the tooltip container */
.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
