.unicode-char {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #b3dffe;
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 3px;
    line-height: 25px;
    vertical-align: top;
    overflow: hidden;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.unicode-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    margin: 5px 0;
    width: 203px;
}
