.photo-credit {
  margin-right: 20px;
  padding: 5px;
  color: #bdc3c7;
}
.hero {
  color: white;
  background: #333333 url('/sitestatic/images/splash/shoppers.jpg') bottom center no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: -30px;
  border-bottom: 0px solid #005497;
}
@media (max-width: 767px) {
  .hero {
    background: none;
    height: inherit;
  }
}
.hero .text-error {
  background: rgba(255, 12, 12, 0.23);
  width: 310px;
  padding: 5px;
  color: #fff;
}
.hero .call-to-action {
  padding-left: 60px;
}
@media (max-width: 767px) {
  .hero .call-to-action {
    padding: 0px;
  }
}
.hero .call-to-action .btn {
  font-size: 21px;
  margin-top: 13px;
  padding: 15px 24px;
}
.hero .call-to-action input {
  font-size: 21px;
  padding: 12px 10px;
  margin-top: 20px;
  margin-right: -4px;
  width: 300px;
}
.hero .grabber {
  color: #ffffff;
  text-shadow: 1px 1px 8px #111;
  line-height: 1.2;
  font-size: 50px;
  font-family: 'Helvetica Neue', 'RobotoThin', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  width: 50%;
  padding: 60px;
}
@media (max-width: 1050px) {
  .hero .grabber {
    width: 80%;
    padding-top: 110px;
  }
}
@media (max-width: 767px) {
  .hero .grabber {
    width: 80%;
    padding: 0px;
    padding-top: 10px;
    color: #333;
    text-shadow: none;
    font-size: 20px;
    font-weight: 200;
  }
}
@media (max-width: 1050px) {
  .hero .example {
    display: none;
  }
}
.hero .example .phone {
  position: absolute;
  right: 0px;
  background-image: url('/sitestatic/images/hand-iphone.png');
  background-repeat: no-repeat;
  margin-top: 40px;
  height: 460px;
  width: 466px;
}
.hero .example .phone .messages {
  width: 192px;
  border: 0px solid green;
  margin-left: 80px;
  margin-top: 110px;
}
.hero .example .phone .messages .imsg {
  font-size: 13px;
  line-height: 16px;
}
.hero .example .phone .messages .imsg.to {
  margin-left: 110px;
}
.hero .example .phone .messages .imsg.from {
  margin-right: 10px;
}
