#jumbotron {
  color: white;
  background: #aed6ff url('/sitestatic/images/bg.jpg') bottom center no-repeat;
  margin-top: -30px;
  padding-top: 60px;
  min-height: 300px;
  background-size: cover;
}
#jumbotron #jumbohand {
  width: 100%;
  height: 347px;
  background-image: url('/sitestatic/images/hand.png');
  background-repeat: no-repeat;
  background-position: 84% 50%;
  display: table;
}
@media (min-width: 768px) and (max-width: 1196px) {
  #jumbotron #jumbohand {
    background-position: 98% 50%;
  }
}
@media (max-width: 767px) {
  #jumbotron #jumbohand {
    background: none;
  }
}
#jumbotron h1 {
  font-size: 60px;
  line-height: 1;
}
#jumbotron h3 {
  font-weight: 100;
  line-height: 1.4;
  padding-bottom: 30px;
}
#jumbotron h5 {
  color: #ecf0f1;
}
#jumbotron .btn {
  font-size: 21px;
  margin-top: 13px;
  padding: 15px 24px;
}
#jumbotron input {
  font-size: 21px;
  padding: 12px 10px;
  margin-top: 20px;
  margin-right: -4px;
}
@media all and (max-width: 767px) {
  #jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}
.container {
  min-height: 0;
}
#jumbotron h1 {
  font-size: 52px;
}
#jumbotron .text-error {
  text-shadow: 0px 0px 12px #fff;
  letter-spacing: 1px;
  color: #e74c3c;
  width: 350px;
  padding-left: 5px;
  margin-top: -5px;
  font-weight: 500;
}
#pageBody {
  min-width: 1000px;
}
.noted {
  display: inline-block;
  background: #ecf0f1;
  padding: 10px 10px;
  left: 30px;
  top: 10px;
  border: 1px solid #bdc3c7;
  font-size: 18px;
  text-align: center;
  margin-top: 34px;
  position: relative;
  width: 380px;
}
.noted .message {
  color: #777;
}
.noted img {
  position: absolute;
  width: 80px;
  left: 356px;
  top: -30px;
}
.attn {
  color: #666;
  font-weight: 400;
}
.header {
  margin-top: -30px;
  margin-bottom: 40px;
  background: #3498db;
  color: #ecf0f1;
  padding: 30px 0;
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
#marketing .title {
  margin-top: 10px;
  font-weight: 200;
  font-size: 32px;
  color: #3498db;
  padding-bottom: 12px;
  margin-bottom: 14px;
  border-bottom: 1px solid #ecf0f1;
}
#marketing .body {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
}
#marketing .brochure {
  color: #999;
  min-height: 1300px;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 920px;
}
#marketing .brochure .flow {
  background: url('/sitestatic/images/brochure/flow.png');
  height: 1265px;
  width: 945px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #marketing .brochure .flow {
    background: url('/sitestatic/images/brochure/flow@2x.png');
    background-size: 945px 1265px;
  }
}
#marketing .brochure .flow .content .intro {
  position: absolute;
  top: 85px;
  left: 450px;
  width: 470px;
}
#marketing .brochure .flow .content .steps {
  position: absolute;
  top: 560px;
  left: 0px;
  width: 400px;
}
#marketing .brochure .flow .content .actions {
  position: absolute;
  top: 1050px;
  left: 350px;
  width: 500px;
}
#marketing .results .activity {
  float: left;
  margin-left: -10px;
  margin-top: -35px;
  background: #3498db;
  padding: 2px 5px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  min-width: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  z-index: 600;
  position: absolute;
}
#marketing .results .label {
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  color: #9ba1a5;
  font-size: 10px;
  font-weight: bold;
  z-index: 800;
  position: absolute;
  top: 0;
  left: 0;
}
#marketing .results .activity.one {
  top: 266px;
  left: 1px;
}
#marketing .results .activity.two {
  top: 548px;
  left: 551px;
}
#marketing .results .activity.three {
  top: 877px;
  left: 474px;
}
#marketing .results .activity.four {
  top: 1011px;
  left: 48px;
}
#marketing .results .label.one {
  top: 207px;
  left: 164px;
}
#marketing .results .label.two {
  top: 314px;
  left: 34px;
}
#marketing .results .label.three {
  top: 314px;
  left: 119px;
}
#marketing .results .label.four {
  top: 314px;
  left: 211px;
}
#marketing .results .label.five {
  top: 314px;
  left: 302px;
}
#marketing .results .label.six {
  top: 490px;
  left: 166px;
}
#marketing .results .label.seven {
  top: 597px;
  left: 586px;
}
#marketing .results .label.eight {
  top: 597px;
  left: 683px;
}
#marketing .results .label.nine {
  top: 810px;
  left: 533px;
}
#marketing .results .label.ten {
  top: 810px;
  left: 743px;
}
#marketing .results .label.eleven {
  top: 927px;
  left: 510px;
}
#marketing .results .label.twelve {
  top: 927px;
  left: 616px;
}
#marketing .section {
  border-top: 1px solid #bdc3c7;
  background-color: #f6f6f6;
  background-image: -o-linear-gradient(bottom, #ffffff 20%, #f6f6f6 92%);
  background-image: -moz-linear-gradient(bottom, #ffffff 20%, #f6f6f6 92%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, #ffffff), color-stop(0.92, #f6f6f6));
  background-image: -webkit-linear-gradient(bottom, #ffffff 20%, #f6f6f6 92%);
  background-image: -ms-linear-gradient(bottom, #ffffff 20%, #f6f6f6 92%);
  background-image: linear-gradient(bottom, #ffffff 20%, #f6f6f6 92%);
  padding: 50px;
  margin-top: 50px;
  min-height: 350px;
}
#marketing .section.video .title {
  border: none;
}
#marketing .section.video iframe {
  margin-top: 27px;
  background-color: #A6ACAA;
  border-right: 1px solid #A6ACAA;
  border-top: 1px solid #A6ACAA;
  border-bottom: 1px solid #A6ACAA;
}
#marketing .section.campaigns iframe {
  float: right;
}
#marketing .section.campaigns .content .title {
  width: 40%;
}
#marketing .section.campaigns .content .body {
  width: 40%;
}
#marketing .section.broadcasts .noted {
  margin-left: 0px;
  margin-top: 40px;
  left: 0;
  top: 0;
}
#marketing .section.broadcasts .noted img {
  left: 345px;
  top: -20px;
}
#marketing .section.contacts {
  height: 450px;
}
#marketing .section.contacts .noted {
  margin-left: 30px;
  margin-top: 40px;
}
#marketing .section.contacts .noted img {
  left: -90px;
  top: 30px;
}
#marketing .section .content {
  width: 960px;
  margin: 0 auto;
}
#marketing .section .content .title {
  width: 45%;
  border-color: #dce0e1;
}
#marketing .section .content .body {
  font-size: 19px;
  color: #777;
}
#marketing .section .content img {
  float: right;
  margin-left: 50px;
}
#marketing .section.everywhere .content .title {
  width: 60%;
}
#marketing .section.everywhere .noted {
  margin-top: 15px;
  margin-left: 35px;
}
#marketing .section.contacts .content img {
  float: left;
  margin-left: 0;
}
#marketing .section.contacts .content .title {
  width: 30%;
  margin-left: 540px;
}
#marketing .section.contacts .content .body {
  margin-left: 540px;
}
#marketing .section.wide .content .title {
  width: 95%;
  margin: 0 auto;
  border-bottom: 0;
  margin-bottom: 20px;
}
#marketing .section.wide .content .body {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}
#marketing .section.wide .content img {
  float: none;
  display: block;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #marketing .section.wide.analytics img {
    content: url('/sitestatic/images/brochure/analytics@2x.png');
  }
}
.bottom-call #jumbotron {
  background: none;
  min-height: 0;
  margin: 0 auto;
  width: 580px;
  margin-top: 30px;
}
