@font-face {
  font-family: 'flows';
  src:  url('fonts/flows.eot?f9ihiy');
  src:  url('fonts/flows.eot?f9ihiy#iefix') format('embedded-opentype'),
    url('fonts/flows.ttf?f9ihiy') format('truetype'),
    url('fonts/flows.woff?f9ihiy') format('woff'),
    url('fonts/flows.svg?f9ihiy#flows') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flows' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-simulator:before {
  content: "\e900";
}
.icn-design:before {
  content: "\e90d";
}
.icn-image:before {
  content: "\e942";
}
.icn-video:before {
  content: "\e963";
}
.icn-folder-closed:before {
  content: "\e9db";
}
.icn-folder-open:before {
  content: "\e9dc";
}
.icn-label:before {
  content: "\e9ee";
}
.icn-phone:before {
  content: "\ea1d";
}
.icn-envelop:before {
  content: "\ea34";
}
.icn-back:before {
  content: "\eabf";
}
.icn-msg:before {
  content: "\ead8";
}
.icn-contact:before {
  content: "\eaf7";
}
.icn-group:before {
  content: "\eaf8";
}
.icn-settings:before {
  content: "\eb61";
}
.icn-flow:before {
  content: "\ec65";
}
.icn-flow-open:before {
  content: "\ec66";
}
.icn-webhook:before {
  content: "\ec7b";
}
.icn-language:before {
  content: "\ec97";
}
.icn-link:before {
  content: "\ec99";
}
.icn-add:before {
  content: "\ed61";
}
.icn-info:before {
  content: "\ed63";
}
.icn-info2:before {
  content: "\ed64";
}
.icn-remove:before {
  content: "\ed6e";
}
.icn-check:before {
  content: "\ed72";
}
.icn-play:before {
  content: "\ed85";
}
.icn-pause:before {
  content: "\ed86";
}
.icn-stop:before {
  content: "\ed87";
}
.icn-arrow-up:before {
  content: "\edb7";
}
.icn-arrow-right:before {
  content: "\edbb";
}
.icn-arrow-down:before {
  content: "\edbf";
}
.icn-arrow-left:before {
  content: "\edc3";
}
