@import "variables";

@font-face {
  font-family: 'flows';
  src:  url('#{$icomoon-font-path}/flows.eot?ygndt6');
  src:  url('#{$icomoon-font-path}/flows.eot?ygndt6#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/flows.svg?ygndt6#flows') format('svg'),
    url('#{$icomoon-font-path}/flows.woff?ygndt6') format('woff'),
    url('#{$icomoon-font-path}/flows.ttf?ygndt6') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flows' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design {
  &:before {
    content: $icon-design;
  }
}
.icon-image {
  &:before {
    content: $icon-image;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-folder-closed {
  &:before {
    content: $icon-folder-closed;
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open;
  }
}
.icon-label {
  &:before {
    content: $icon-label;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-envelop {
  &:before {
    content: $icon-envelop;
  }
}
.icon-back {
  &:before {
    content: $icon-back;
  }
}
.icon-msg {
  &:before {
    content: $icon-msg;
  }
}
.icon-contact {
  &:before {
    content: $icon-contact;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-flow {
  &:before {
    content: $icon-flow;
  }
}
.icon-flow-open {
  &:before {
    content: $icon-flow-open;
  }
}
.icon-webhook {
  &:before {
    content: $icon-webhook;
  }
}
.icon-language {
  &:before {
    content: $icon-language;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-info2 {
  &:before {
    content: $icon-info2;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}
.icon-stop {
  &:before {
    content: $icon-stop;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-simulator {
  &:before {
    content: $icon-simulator;
  }
}

