@import "variables";

@font-face {
  font-family: 'flows';
  src:  url('#{$icomoon-font-path}/flows.eot?f9ihiy');
  src:  url('#{$icomoon-font-path}/flows.eot?f9ihiy#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/flows.ttf?f9ihiy') format('truetype'),
    url('#{$icomoon-font-path}/flows.woff?f9ihiy') format('woff'),
    url('#{$icomoon-font-path}/flows.svg?f9ihiy#flows') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flows' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icn-simulator {
  &:before {
    content: unicode($icn-simulator); 
  }
}
.icn-design {
  &:before {
    content: unicode($icn-design); 
  }
}
.icn-image {
  &:before {
    content: unicode($icn-image); 
  }
}
.icn-video {
  &:before {
    content: unicode($icn-video); 
  }
}
.icn-folder-closed {
  &:before {
    content: unicode($icn-folder-closed); 
  }
}
.icn-folder-open {
  &:before {
    content: unicode($icn-folder-open); 
  }
}
.icn-label {
  &:before {
    content: unicode($icn-label); 
  }
}
.icn-phone {
  &:before {
    content: unicode($icn-phone); 
  }
}
.icn-envelop {
  &:before {
    content: unicode($icn-envelop); 
  }
}
.icn-back {
  &:before {
    content: unicode($icn-back); 
  }
}
.icn-msg {
  &:before {
    content: unicode($icn-msg); 
  }
}
.icn-contact {
  &:before {
    content: unicode($icn-contact); 
  }
}
.icn-group {
  &:before {
    content: unicode($icn-group); 
  }
}
.icn-settings {
  &:before {
    content: unicode($icn-settings); 
  }
}
.icn-flow {
  &:before {
    content: unicode($icn-flow); 
  }
}
.icn-flow-open {
  &:before {
    content: unicode($icn-flow-open); 
  }
}
.icn-webhook {
  &:before {
    content: unicode($icn-webhook); 
  }
}
.icn-language {
  &:before {
    content: unicode($icn-language); 
  }
}
.icn-link {
  &:before {
    content: unicode($icn-link); 
  }
}
.icn-add {
  &:before {
    content: unicode($icn-add); 
  }
}
.icn-info {
  &:before {
    content: unicode($icn-info); 
  }
}
.icn-info2 {
  &:before {
    content: unicode($icn-info2); 
  }
}
.icn-remove {
  &:before {
    content: unicode($icn-remove); 
  }
}
.icn-check {
  &:before {
    content: unicode($icn-check); 
  }
}
.icn-play {
  &:before {
    content: unicode($icn-play); 
  }
}
.icn-pause {
  &:before {
    content: unicode($icn-pause); 
  }
}
.icn-stop {
  &:before {
    content: unicode($icn-stop); 
  }
}
.icn-arrow-up {
  &:before {
    content: unicode($icn-arrow-up); 
  }
}
.icn-arrow-right {
  &:before {
    content: unicode($icn-arrow-right); 
  }
}
.icn-arrow-down {
  &:before {
    content: unicode($icn-arrow-down); 
  }
}
.icn-arrow-left {
  &:before {
    content: unicode($icn-arrow-left); 
  }
}

