@font-face {
  font-family: 'flows';
  src:  url('fonts/flows.eot?ygndt6');
  src:  url('fonts/flows.eot?ygndt6#iefix') format('embedded-opentype'),
    url('fonts/flows.ttf?ygndt6') format('truetype'),
    url('fonts/flows.woff?ygndt6') format('woff'),
    url('fonts/flows.svg?ygndt6#flows') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flows' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
  content: "\e90d";
}
.icon-image:before {
  content: "\e942";
}
.icon-video:before {
  content: "\e963";
}
.icon-folder-closed:before {
  content: "\e9db";
}
.icon-folder-open:before {
  content: "\e9dc";
}
.icon-label:before {
  content: "\e9ee";
}
.icon-phone:before {
  content: "\ea1d";
}
.icon-envelop:before {
  content: "\ea34";
}
.icon-back:before {
  content: "\eabf";
}
.icon-msg:before {
  content: "\ead8";
}
.icon-contact:before {
  content: "\eaf7";
}
.icon-group:before {
  content: "\eaf8";
}
.icon-settings:before {
  content: "\eb61";
}
.icon-flow:before {
  content: "\ec65";
}
.icon-flow-open:before {
  content: "\ec66";
}
.icon-webhook:before {
  content: "\ec7b";
}
.icon-language:before {
  content: "\ec97";
}
.icon-link:before {
  content: "\ec99";
}
.icon-add:before {
  content: "\ed61";
}
.icon-info:before {
  content: "\ed63";
}
.icon-info2:before {
  content: "\ed64";
}
.icon-remove:before {
  content: "\ed6e";
}
.icon-check:before {
  content: "\ed72";
}
.icon-play:before {
  content: "\ed85";
}
.icon-pause:before {
  content: "\ed86";
}
.icon-stop:before {
  content: "\ed87";
}
.icon-arrow-up:before {
  content: "\edb7";
}
.icon-arrow-right:before {
  content: "\edbb";
}
.icon-arrow-down:before {
  content: "\edbf";
}
.icon-arrow-left:before {
  content: "\edc3";
}
.icon-simulator:before {
  content: "\e900";
}
