$icomoon-font-path: "fonts" !default;

$icn-simulator: \e900;
$icn-design: \e90d;
$icn-image: \e942;
$icn-video: \e963;
$icn-folder-closed: \e9db;
$icn-folder-open: \e9dc;
$icn-label: \e9ee;
$icn-phone: \ea1d;
$icn-envelop: \ea34;
$icn-back: \eabf;
$icn-msg: \ead8;
$icn-contact: \eaf7;
$icn-group: \eaf8;
$icn-settings: \eb61;
$icn-flow: \ec65;
$icn-flow-open: \ec66;
$icn-webhook: \ec7b;
$icn-language: \ec97;
$icn-link: \ec99;
$icn-add: \ed61;
$icn-info: \ed63;
$icn-info2: \ed64;
$icn-remove: \ed6e;
$icn-check: \ed72;
$icn-play: \ed85;
$icn-pause: \ed86;
$icn-stop: \ed87;
$icn-arrow-up: \edb7;
$icn-arrow-right: \edbb;
$icn-arrow-down: \edbf;
$icn-arrow-left: \edc3;

