$icomoon-font-path: "fonts" !default;

$icon-design: "\e90d";
$icon-image: "\e942";
$icon-video: "\e963";
$icon-folder-closed: "\e9db";
$icon-folder-open: "\e9dc";
$icon-label: "\e9ee";
$icon-phone: "\ea1d";
$icon-envelop: "\ea34";
$icon-back: "\eabf";
$icon-msg: "\ead8";
$icon-contact: "\eaf7";
$icon-group: "\eaf8";
$icon-settings: "\eb61";
$icon-flow: "\ec65";
$icon-flow-open: "\ec66";
$icon-webhook: "\ec7b";
$icon-language: "\ec97";
$icon-link: "\ec99";
$icon-add: "\ed61";
$icon-info: "\ed63";
$icon-info2: "\ed64";
$icon-remove: "\ed6e";
$icon-check: "\ed72";
$icon-play: "\ed85";
$icon-pause: "\ed86";
$icon-stop: "\ed87";
$icon-arrow-up: "\edb7";
$icon-arrow-right: "\edbb";
$icon-arrow-down: "\edbf";
$icon-arrow-left: "\edc3";
$icon-simulator: "\e900";

