@import '~/variables.scss';

$spacing: 10px;

.group {
    padding-bottom: 0 !important;
    margin-bottom: 0px;
}

textarea:focus, input:focus{
    outline: none;
}

.divider {
    padding-left: $spacing;
    padding-right: $spacing;
    padding-top: 7px;
}

.kase {
    display: inline-flex;
    width: 100%;
    height: 25px;
    padding-top: 15px;
    .form-group {
        margin: 0;
    }
    .choice {
        width: 185px;
    }
    .single-operand {
        position: relative;
        margin-left: $spacing;
        width: 166px;
        input {
            width: 166px;
        }
    }
    .multi-operand {
        display: inline-flex;
        width: 166px;
        justify-content: center;
        margin-left: $spacing;
        input {
            width: 60px;
        }
    }
    .categorize-as {
        font-size: 13px;
        line-height: 13px;
        position: relative;
        top: 7px;
        margin: 0px $spacing;
    }
    .category {
        position: relative;
        input {
            width: 120px;
        }
    }
    &:hover {
        .remove-icon {
            opacity: 1;
        }

        .dnd-icon {
            opacity: 1;
        }
    }
    input {
        padding: 6px 7px;
        height: 28px !important;
        font-size: 13px !important;
        border: 1px solid #ccc;
    }
}

.dnd-icon {
    color: #aaa;
    font-weight: bold;
    padding-top: 9px;
    padding-right: 5px;
    float: left;
    opacity: 0;
    font-size: 12px;
    line-height: 12px;
}

.remove-icon {
    color: #aaa;
    padding-top: 8px;
    float: right;
    opacity: 0;
    line-height: 12px;
    cursor: pointer;
    
    margin-left: 5px;
    font-size: 12px;
}

.empty {
    display: inline-block;
    width: 15px;
}
