
@import "~/variables.scss";

.toggle-button {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size:20px;
  cursor: pointer;
}

.flipper {
    perspective: 800px;
    transform: translateZ(0);

    .side {
        position: absolute;
        transform-style: preserve-3d;
        transition: all 350ms cubic-bezier(0.2, -0.28, 0.735, 0.045);
        // min-width: 655px;
        backface-visibility: hidden;
    }
    .front {
        transform: rotateX(0deg);
    }
    .back {
        transform: rotateX(-180deg);
    }

    &.flipped {
        .side {
            transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .front {
            transform: rotateX(180deg);
        }
        .back {
            transform: rotateX(0deg);
        }
    }
}
