@import '../../../variables.scss';

.count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 5px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 220px;
    width: 175px;
    background-color: white;
    color: $grey;
    text-align: left;
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-shadow: $shadow_down;
    box-shadow: $shadow_down;

    /* Position tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 138%;
    left: -490%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

/* Show tooltip text when mouse hovers over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiprow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.option_list {
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    margin-bottom: 0px;
}

.option_description {
    font-size: 12px;
    padding: 3px 0;
    font-weight: 300;
}

.option {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 5px;
    font-size: 14px;
    &.selected {
        border-color: $blue_antd;
        background: $blue_antd;
        color: $text_color;
        font-weight: 500;
        &.first_option {
            border-top-color: transparent !important;
        }
    }
}

.completion_container {
    position: absolute;
    background: #fff;
    margin-top: 20px;
    width: 250px;
    border-radius: 4px;
    -webkit-box-shadow: $shadow_down;
            box-shadow: $shadow_down;
    z-index: $z_completion;
}

.wrapper {
    position: relative;
}

.help {
    font-size: 10px;
    color: #999;
    padding: 4px;
    border-radius: 0 0 4px 4px;
    background-color: #f5f5f5;
}

.hidden {
    display: none;
}

.textinput {
    border-radius: 4px;
    width: 100%;
    color: $grey;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid $light_grey;
    overflow: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 37px;
    &::-webkit-input-placeholder {
        color: $placeholder_color;
    }
    &::-moz-placeholder {
        color: $placeholder_color;
    }
    &:-ms-input-placeholder {
        color: $placeholder_color;
    }
    &:-moz-placeholder {
        color: $placeholder_color;
    }
}

textarea.textinput {
    height: 120px;
    padding: 10px;
    overflow: auto;
}
