@import 'variables.module.scss';

.recipients {
  margin-bottom: 15px;
}

.attachment {
  padding-left: 5px;
  color: $gray;
  transform: rotate(30deg);
  display: inline-block;
}

.whatsapp {
  display: inline-block;
  padding-left: 5px;
  color: $gray;
}

.node {
  .to {
    padding: 3px $action_padding;
    background: $light_gray_2;
    font-size: 12px;

    .name {
      font-size: 10px;
    }

    .icon {
      font-size: 9px;
      padding-right: 2px;
    }

    .more {
      line-height: 5px;
      padding-bottom: 5px;
    }
  }

  .message {
    background: #fff;
    padding: $action_padding;

    .icons {
      display: flex;
    }
    .line {
      display: block;
      margin-top: 3px;
      min-height: 11px;
    }
  }
}
