.titlebar {
    padding: 0px;
    text-shadow: 0px 1px rgba(0, 0, 0, .2);
    color: #fff;
    text-align: center;
    font-size: 13px;
    border: 0px solid transparent;
    .normal {
        padding: 3px 0;
        border: 0px solid green;
    }
    .remove_confirm {
        position: absolute;
        margin-top: -21px;
        border: 0px solid #c14c46;
        background: #c14c46;
        padding: 3px 0px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .remove_button {
            visibility: visible;
        }
    }
    .remove_button {
        position: absolute;
        padding-right: 4px;
        visibility: hidden;
        font-size: 15px;
        line-height: 12px;
        width: 20px;
        right: 0;
    }
    .up_button {
        // float: left;
        position: absolute;
        visibility: hidden;
        font-size: 10px;
        line-height: 15px;
        padding-left: 5px;
        width: 20px;
        left: 0px;
    }
    &:hover {
        .remove_button {
            visibility: visible;
        }
        .up_button {
            visibility: visible;
        }
    }
}