.actions {
    .action {

        .action-content {
            padding: 10px;
        }

        &.add-to-group {
            .action-title {
                background: $add_to_group;
            }
        }

        &.msg {
            .action-title {
                background: $msg;
            }
        }

        &.save-to-contact, &.set-language, &.set-preferred-channel {
            .action-title {
                background: $update;
            }
        }

        &.add-label {
            .action-title {
                background: $add_label;
            }
        }

        &.email {
            .action-title {
                background: $email;
            }
        }

        &.webhook {
            .action-title {
                background: $webhook;
            }
        }

        &.flow {
            .action-title {
                background: $subflow;
            }
        }
    }
}
