@import '../variables.scss';

.btn {

  margin-left: 8px;
  display: inline-block;
  
  font-weight: 300;
  font-size: 13px;

  cursor: pointer;

  background: $button_dark;
  background-image: -webkit-linear-gradient(top, $button_light, $button_dark);
  background-image: -moz-linear-gradient(top,$button_light, $button_dark);
  background-image: -ms-linear-gradient(top,$button_light, $button_dark);
  background-image: -o-linear-gradient(top,$button_light, $button_dark);
  background-image: linear-gradient(to bottom, $button_light, $button_dark);
  color: #ffffff;
  padding: 8px 16px 8px 16px;
  text-decoration: none;

  border: 1px solid rgba(90,90,90,.1);

  &:hover {
    background: $button_hover;
    background-image: -webkit-linear-gradient(top, $button_hover, $button_light);
    background-image: -moz-linear-gradient(top, $button_hover, $button_light);
    background-image: -ms-linear-gradient(top, $button_hover, $button_light);
    background-image: -o-linear-gradient(top, $button_hover, $button_light);
    background-image: linear-gradient(to bottom, $button_hover, $button_light);
    text-decoration: none;
  }

  &.primary {
    background: $button_dark;
    color: #fff;
  }

  &.secondary {
    color: #666;
    $button_dark: #ccc;
    $button_light: $button_dark + #111;
    $button_hover: $button_light;

    background: $button_dark;
    background-image: -webkit-linear-gradient(top, $button_light, $button_dark);
    background-image: -moz-linear-gradient(top,$button_light, $button_dark);
    background-image: -ms-linear-gradient(top,$button_light, $button_dark);
    background-image: -o-linear-gradient(top,$button_light, $button_dark);
    background-image: linear-gradient(to bottom, $button_light, $button_dark);

    &:hover {
        background: $button_hover;
        background-image: -webkit-linear-gradient(top, $button_hover, $button_light);
        background-image: -moz-linear-gradient(top, $button_hover, $button_light);
        background-image: -ms-linear-gradient(top, $button_hover, $button_light);
        background-image: -o-linear-gradient(top, $button_hover, $button_light);
        background-image: linear-gradient(to bottom, $button_hover, $button_light);
    }
  }
}
