@import "../variables.scss";
.editor {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text_color; // height: 100vh;
    height: 20000px;
    font-size: 13px;
    line-height: 1.2;
}