@import "../variables.scss";
.editor {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text_color; // height: 100vh;
    height: 20000px;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    background-color: rgba(80, 80, 80, .02);
    background-position: -10px -10px;
    $color_1: rgba(80, 80, 80, 0.05);
    background-image: linear-gradient(0deg, transparent 24%, $color_1 25%, $color_1 26%, transparent 27%, transparent 74%, $color_1 75%, $color_1 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, $color_1 25%, $color_1 26%, transparent 27%, transparent 74%, $color_1 75%, $color_1 76%, transparent 77%, transparent);
    background-size: 40px 40px;
}
