@import '../variables.scss';
.exit {
    font-size: 13px;
    text-align: center;
    border-left: 1px solid $borders;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap;
    &:first-child {
        border-left: none;
    }
    &.missing_localization {
        background: $translation_bg;
        border: none;
        box-shadow: 0 0 0 2px $translation_bg - #111 inset;
        &:first-child {
            border-left: none;
        }
        border-color: $translation_bg - #111;
        color: $translation_text;
        .name {
            padding-top: 11px;
            padding-bottom: 11px;
        }
        .endpoint {
            position: relative;
            z-index: 1; //visibility: hidden;
            visibility: hidden; //margin-top: -5px;
            background: $translation_connector !important;
            border: 2px solid $translation_connector - #111 !important;
            top: 0px;
        }
    }
    .name {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 14px;
    }
    .activity {
        float: left;
        border: 0px solid green;
        margin: 0 auto;
        width: 100%;
        margin-bottom: -30px; // margin-left: 1px;
        margin-top: 10px;
        cursor: default;
        .count {
            font-size: 10px;
            position: relative; // margin: 0 auto;
            border: 1px solid $activity_color - #222;
            color: $activity_color - #777;
            background: $activity_color;
            padding: 2px 4px;
            width: fit-content;
            margin: 0 auto;
            clear: both;
            line-height: .9;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }
    .endpoint {
        position: relative;
        background: $terminal_color;
        border: 2px solid $terminal_color - #111;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        top: 6px;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
        margin-top: -14px;
    }
    &.confirm_delete {
        .activity {
            .count {
                border-color: $red !important;
                background: $red + #222 !important;
                color: #fff;
            }
        }
        .endpoint {
            border-color: $red !important;
            background: $red !important;
            color: white;
            font-size: 13px;
            span {
                position: absolute;
                left: -1px;
                top: -1px;
            }
        }
    }
}