@import '../variables.scss';
.exit {
    font-size: 13px;
    text-align: center;
    border-left: 1px solid $borders;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 8px;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap;
    &:first-child {
        border-left: none;
    }
    .activity {
        float: left;
        border: 0px solid green;
        margin: 0 auto;
        width: 100%;
        margin-bottom: -35px; // margin-left: 1px;
        margin-top: 12px;
        cursor: default;
        .count {
            font-size: 10px;
            position: relative; // margin: 0 auto;
            border: 1px solid $activity_color - #222;
            color: $activity_color - #777;
            background: $activity_color;
            padding: 2px 4px;
            width: fit-content;
            margin: 0 auto;
            clear: both;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }
    .endpoint {
        position: relative;
        background: $terminal_color;
        border: 2px solid $terminal_color - #111;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        top: 6px;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }
    &.confirm_delete {
        .activity {
            .count {
                border-color: $red !important;
                background: $red + #222 !important;
                color: #fff;
            }
        }
        .endpoint {
            border-color: $red !important;
            background: $red !important;
            color: white;
            font-size: 13px;
            span {
                position: absolute;
                left: -1px;
                top: -1px;
            }
        }
    }
}