.loading {
    visibility: hidden;
    height: inherit;
}

.loaded {
    height: inherit;
    position: relative;
}

.flow {
    height: inherit;
    position: relative;
    margin: 0;
}

.node-list {
    height: inherit;
    position: relative;
}