@import '../variables.scss';
.loading {
    visibility: hidden;
    height: inherit;
}

.loaded {
    height: inherit;
    position: relative;
}

.flow {
    height: inherit;
    position: relative;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fff;
    background-position: -12px -7px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(80, 80, 80, 0.05) 25%, rgba(80, 80, 80, 0.05) 26%, transparent 27%, transparent 74%, rgba(80, 80, 80, 0.05) 75%, rgba(80, 80, 80, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(80, 80, 80, 0.05) 25%, rgba(80, 80, 80, 0.05) 26%, transparent 27%, transparent 74%, rgba(80, 80, 80, 0.05) 75%, rgba(80, 80, 80, 0.05) 76%, transparent 77%, transparent);
    background-size: 40px 40px;
}

.translation {
    .flow {
        $color_1: rgba(0, 0, 0, .08);
        $color_2: rgba(0, 0, 0, .05); // 
        background: repeating-linear-gradient(-60deg, $color_1, $color_1 3px, $color_2 3px, $color_2 6px); // background: rgba(200, 200, 200, .3);
    }
    svg path {
        stroke: $red !important;
        fill: $red !important;
    }
}

.node_list {
    height: inherit;
    position: relative;
}