.loading {
    visibility: hidden;
    height: inherit;
}

.loaded {
    height: inherit;
    position: relative;
}

.flow {
    height: inherit;
    position: relative;
    margin: 0;
}

.node_list {
    height: inherit;
    position: relative;
}

.flow_name {
    font-weight: 300;
    font-size: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding-bottom: 6px;
    margin-right: 5%;
}