@import "../variables.scss";

.modal {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 12px;
}

.errors {
    color: $error_color;
    padding: 5px 2px;
    font-size: 12px;
}

.header {
    padding: 16px;
    font-size: 20px;
    color: $light_text;
}

.content {
    p {
        line-height: 19px;
    }
}

.footer {
    background: #f6f6f6;
    padding: 12px;
    border-top: 1px solid #e6e6e6;
    .left {
        float: left;
    }
    .right {
        border: 0px solid red;
        text-align: right;
        overflow: auto;
    }
}

.show_back {
    position: absolute;
    right: 14px;
    cursor: pointer;
}

.show_front {
    position: absolute;
    right: 14px;
    cursor: pointer;
}

.background {
    position: absolute;
    font-size: 80px;
    left: -40px;
    top: 23px;
    clip: rect(0px, 100px, 55px, 40px);
}

.container {
    -webkit-perspective: 800px;
    -moz-transform: perspective(800px);
    perspective: 800px;
    .side {
        background: #fff;
        position: absolute;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        min-width: 620px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .front {
        -webkit-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .back {
        -o-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
    &.flipped {
        .side {
            -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .front {
            -o-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }
        .back {
            -o-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }
}
