@import '../variables.scss';
$inner_spacing: 15px;
.advanced_buttons {
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 26px;
    .show_advanced_button {
        display: block;
    }
    .hide_advanced_button {
        display: none;
    }
}

.title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 8px;
}

.instructions {
    padding-bottom: 12px;
}

.primary_form {
    display: block;
    margin-bottom: $inner_spacing;
}

.advanced_form {
    display: none;
    margin-bottom: $inner_spacing;
}

.advanced {
    .type_chooser {
        display: none;
    }
    .show_advanced_button {
        display: none;
    }
    .hide_advanced_button {
        display: block;
    }
    .primary_form {
        display: none;
    }
    .advanced_form {
        display: block;
    }
}

.node_editor {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}

.type_chooser {
    margin-bottom: $inner_spacing;
}

.header {
    margin-bottom: $inner_spacing;
}

.translating_exits {
    clear: both;
}

.translating_exit {
    clear: both;
    margin-bottom: 6px;
}

.translating_from {
    clear: both;
    background: $translation_bg;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 9px;
    border: 2px solid $translation_bg - #111;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    margin-right: 10px;
}

.translating_to {
    display: inline-block;
    overflow: hidden;
    width: 346px;
}