.titlebar {

    padding: 4px;
    text-shadow: 0px 1px rgba(0, 0, 0,.2);
    color: $light_text;
    text-align: center;
    font-size:13px;
    padding-left: 14px;

    .remove-confirm {
        position: absolute;
        background: #c14c46;
        margin: -4px;
        margin-left: -14px;
        margin-top: -20px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 4px;
        text-shadow: 0px 1px rgba(0, 0, 0,.2);
        font-size: 13px;

        .remove-button {
            visibility: visible;
        }
    }

    .remove-button {
        float:right;
        padding-right: 2px;
        visibility: hidden;
    }

    &:hover {
        .remove-button {
            visibility: visible;
        }
    }
}