@import "../variables.scss";

$inner_spacing: 15px;

.node-editor {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
}

.header {
    margin-bottom: $inner_spacing;
}

.widgets {
    margin: $inner_spacing 0;

    

    textarea {
        height: 100px;
        width: 506px;
        padding: 10px;
        color: $grey;
        font-size: 14px;
        font-weight: 300;

        border: 1px solid $light_grey;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
