@import "../variables.scss";

$inner_spacing: 15px;

.node-editor {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    max-height: 500px;
    overflow-y: auto;
}

.header {
    margin-bottom: $inner_spacing;
}

.widgets {
    margin: $inner_spacing 0;
}
