@import "../variables.scss";
.node {
    padding: 0;
    &.dragging {
        z-index: $z_dragging; // box-shadow: 0 0 0 4px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .1) inset; // transform: scale(1.05); // border: 1px solid #ddd;
        .add {
            visibility: hidden !important;
        }
        transition: none; // transform: scale(1.05);
    }
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: top 200ms ease;
    position: absolute; // box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset; // border: 1px solid ;
    width: $node_width;
    z-index: $z_nodes;
    cursor: pointer; // box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .4);
    display: table;
    &.ghost {
        opacity: .5;
        transition: none;
    }
    .actions {
        &.exit_table {
            border-top: none;
            .exit {
                padding: 0 !important;
                margin: 0;
            }
        }
    }
    .exit_table {
        background: #fff;
        display: table;
        width: 100%; //border-top: 1px solid #f6f6f6;
        border: 1px solid $borders;
        .exits {
            border-collapse: collapse;
            display: table-row;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    .drag_group {
        position: absolute;
        visibility: hidden;
        bottom: 0px;
        left: 0px;
        padding: 3px;
        color: $light_grey - #222;
        font-size: 8px;
        text-decoration: none;
        cursor: move;
        &:hover {
            color: $light-grey - #333;
            border-color: $light_grey - #222;
        }
    }
    .add {
        position: absolute;
        right: -5px;
        bottom: -5px;
        visibility: hidden;
        color: $blue;
        text-decoration: none;
        background: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        line-height: 8px;
        font-size: 14px;
    }
    &:hover {
        .add {
            visibility: visible;
        }
        .drag_group {
            visibility: visible;
        }
    }
}

.active {
    position: absolute;
    background: $active_color;
    border: 1px solid $active_color - #111;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 3px 5px;
    color: #fff;
    font-weight: 500;
    top: -10px;
    left: -10px;
    font-size: 13px;
    min-width: 22px;
    text-align: center;
    cursor: default;
}