@import '../variables.scss';

.random {
    background: #aaa;
}

.wait-for-response {
    background: #677c91;
}

.add-to-group {
    background: $green;
}

.remove-from-group {
    background: $red;
}

.email {
    background: $purple;
}        

.msg, .reply {
    background: $blue;
}

.add-label {
    background: $blue_baby;
}

.save-to-contact, .set-language, .set-preferred-channel {
    background: $teal;
}

.subflow {
    background: $grey;
}

.expression {
    background: $grey;
}

.webhook {
    background: $orange;
}

.breaks {
    word-wrap:break-word;
}

.url {
    width: $node_width
}

