@import "../variables.scss";

.simulator {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 600px;
    width: 304px;
    z-index: $z_simulator;

    .reset {
        width: 80px;
        height: 30px;
        background-color: #999;
        position: absolute;
        bottom: 15px;
        left: 110px;
        &:hover {
            background-color: #999 - #111;
        }
        &:active {
            background-color: #999 - #222;
        }
    }

    .screen {
        top: 46px;
        height: 494px;
        background-color: #fff;
        position: relative;
        margin: 0px 18px;

        .messages {
            max-height: 454px;
            padding: 10px;
            overflow-y: auto;
            font-weight: 300;
            position: relative;
        }

        .controls {
            background: $light_grey;
            position: absolute;
            border: 0px solid yellow;
            bottom: 0px;
            width: 100%;
            padding: 5px 10px;
            
            input {
                font-size: 14px;
                font-weight: 300;
                width: 100%;
                padding: 5px;
            }
        }
    }

    .icon_simulator {
        font-size:600px;
        color: #333;
        border: 0px solid green;
        position: absolute;
        right: 0;
        top: 0;
        pointer-events:none;
        // text-shadow: 0px 0px 5px $grey;
    }
}

.evt {
    clear: both;
    margin-bottom:8px;
}

.msg_in {
  padding: 8px 15px;
  background: $light_grey;
  border: 1px solid $light_grey + #111;
  border-radius: 15px;
  margin-right: 24px;
  font-size: 120%;
  color: #333;
}

.msg_out {
  padding: 8px 15px;
  text-align: right;
  background: #2095FE;;
  border: 1px solid #2095FE + #111;
  border-radius: 15px;
  margin-left: 24px;
  color: #fff;
  font-size: 120%;
}

.error {
  margin: 0;
  float: inherit;
  background: none;
  color: $red;
  font-size: 10px;
  border: none;
}

.info {
    border: none;
    text-align: center;
    color: #bbb;
}

.event_viewer {
    pre {
        height: 400px;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word; 
        border: none;
        border-radius: none;
        background-color: white;
    }
}

.has_detail {
    cursor: pointer;
}

.detail_webhook {
    background: $orange;    
}