@import "../../variables.scss";

.action {
    position: relative; // border: none;
    margin: 0px;
    &:last-child {
        .body {
            padding-bottom: 20px;
        }
    }
    &.has_router {
        &:last-child {
            .body {
                padding-bottom: 8px;
            }
            border-bottom: 1px solid $borders;
        }
    }
    clear: both;
}

.body {
    padding: 8px;
    word-wrap: break-word;
    width: $node_width;
    background: #fff; // border: 3px transparent;
    border-left: 1px solid $borders;
    border-right: 1px solid $borders; //border-bottom: 1px solid $borders;
}

.not_localizable {
    /*.body {
        background: #f7f7f7;
        color: #ccc;
        cursor: default;
    }*/
    .overlay {
        display: block;
    }
    .body {
        // box-shadow: 0 0 0 1px $translation_bg - #111 inset;
        background: #fff !important; // border: none;
        // color: #fff;
    }
}

.translate_from {
    background: $translation_bg;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid $translation_bg - #111;
    margin-bottom: 12px;
}

.translate_to {
    padding: 5px;
    font-weight: 400;
}

.translating {
    .body {
        box-shadow: 0 0 0 2px $translation_bg - #111 inset; // background: $green + #222;
        //padding-left: 9px;
        border-left: 1px solid $translation_bg - #111; // color: $green;
        border-right: 1px solid $translation_bg - #111; // color: $green;
    }
}

.missing_localization {
    .body {
        box-shadow: 0 0 0 2px $translation_bg - #111 inset;
        padding-left: 9px;
        position: relative;
        background: $translation_bg; //border-top: 1px solid $translation_bg - #111;
        //border-left: 1px solid $translation_bg - #111;
        //border-right: 1px solid $translation_bg - #111;
        //border-bottom: 1px solid $translation_bg - #111; // margin-top: -1px;
        color: $translation_text;
    }
}

.overlay {
    cursor: default;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .9); // border-bottom: 1px solid $borders;
    $color_1: rgba(0, 0, 0, .12);
    $color_2: rgba(0, 0, 0, .1); //background: repeating-linear-gradient(-60deg, $color_1, $color_1 3px, $color_2 3px, $color_2 6px); // background: rgba(200, 200, 200, .3);
}
