.label {
    font-weight: 300;
    cursor: pointer;
    .title {
        display: inline-block;
        margin-left: 5px;
        font-weight: 400;
    }
    .description {
        margin-left: 19px;
        margin-top: 5px;
    }
}

.sibling {
    margin-top: 20px;
}
