@import '~/variables.scss';

.canvas {
    position: relative;
    height: 10000px;
    width: 100%;
}

.dragSelection {
    position: absolute;
    background: $selection_square;
    border: 0px solid $selection_square - #222;
    opacity: 0.2;
    pointer-events: none;
    z-index: $z_selection;
}
