@import '../variables.scss';

.exit {
    vertical-align: bottom;
    font-size: 13px;
    text-align: center;
    border-left: 1px solid $borders;
    min-width: 60px;
    display: table-cell;
    white-space: nowrap;
    
    &:first-child {
        border-left: none;
    }

    &.translating {

        &.unnamed_exit {
            background: red;
            height: 0px;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }

        border-left: 1px solid $translation_bg - #111;
        background: $translation_bg;

        .endpoint {
            position: relative;
            z-index: 1;
            visibility: hidden;
            top: 0px;
        }

        &:last-child {
            border-bottom-right-radius: $curvature;
        }

        &:first-child {
            border-bottom-left-radius: $curvature;
            border-left: none;
        }
    }

    &.missing_localization {
        color: $translation_missing;

        &:last-child {
            border-bottom-right-radius: $curvature;
        }

        &::first-child {
            border-bottom-left-radius: $curvature;
        }
    }

    .name {
        padding: 12px;
        line-height: 1.4em;
    }

    .activity {
        float: left;
        margin: 0 auto;
        width: 100%;
        margin-bottom: -30px;
        margin-top: 10px;
        cursor: default;
        .count {
            font-size: 10px;
            position: relative;
            border: 1px solid $activity_color - #222;
            color: $activity_color - #777;
            background: $activity_color;
            padding: 2px 4px;
            width: fit-content;
            margin: 0 auto;
            clear: both;
            line-height: .9;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }

    .endpoint {
        position: relative;
        background: $terminal_color;
        width: 12px;
        height: 12px;
        margin: 0 auto;
        top: 7px;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
        margin-top: -14px;
        border-radius: 6px;

        // this is needed to maintain consistency with disconnected endpoitns
        border-bottom: 1px solid transparent;
    }

    &.confirm-delete {
        .activity {
            .count {
                border-color: $red !important;
                background: $red + #222 !important;
                color: #fff;
            }
        }
        .endpoint {
            border-color: $red !important;
            background: $red !important;
            color: white;
            font-size: 13px;
            span {
                // TODO: style this so it's not variable
                position: absolute;
                left: -.05rem;
                top: .03rem;
            }
        }
    }
}
