@import "../variables.scss";

    
.editor {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $text_color; // height: 100vh;
    height: 100%;
    width: 100%;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    background-color: #fcfcfc;
    background-position: -10px -10px;
    $color_1: rgba(61, 177, 255, 0.1);
    background-image: linear-gradient(0deg, transparent 24%, $color_1 25%, $color_1 26%, transparent 27%, transparent 74%, $color_1 75%, $color_1 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, $color_1 25%, $color_1 26%, transparent 27%, transparent 74%, $color_1 75%, $color_1 76%, transparent 77%, transparent);
    background-size: 40px 40px;
}

.translating {
    .editor {
        $color_1: rgba(0, 0, 0, .02);
        $color_2: rgba(0, 0, 0, .01);
        background: repeating-linear-gradient(-60deg, $color_1, $color_1 3px, $color_2 3px, $color_2 6px); // background: rgba(200, 200, 200, .3);
    }
    svg path {
        stroke: $translation_connector !important;
        fill: $translation_connector !important;
    }
}
