@import "../variables.scss";
@import "../mixins.scss";

.modal {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777;
    font-size: 12px;
    border: 5px solid rgba(0, 0, 0, .05);
    border-radius: $curvature + 5px;
}

.title {
    margin-left: 40px;
}

.errors {
    color: $error_color;
    padding: 5px 2px;
    font-size: 12px;
}

.header {
    padding: 16px;
    font-size: 20px;
    color: #fff;
    border-top-left-radius: $curvature;
    border-top-right-radius: $curvature;
}

.content {
    background: #fff;
    p {
        line-height: 19px;
    }
}

.footer {
    background: #f1f1f1;
    padding: 12px;
    height: 45px;
    border-bottom-left-radius: $curvature;
    border-bottom-right-radius: $curvature;
}

.section-left {
    box-sizing: border-box;
    width: 70%;
    display: inline-block;
}

.section-right {
    box-sizing: border-box;
    width: 30%;
    display: inline-block;
}

.buttons {
    @include centerVertically;
    padding-right: 5px;
}

.left-buttons {
    float: left;
}

.right-buttons {
    border: 0px solid red;
    text-align: right;
    overflow: auto;
}

.show_back {
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.show_front {
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.background {
    position: absolute;
    font-size: 80px;
    left: -35px;
    top: 20px;
    clip: rect(0px, 100px, 55px, 40px);
}

.container {
    -webkit-perspective: 800px;
    -moz-transform: perspective(800px);
    perspective: 800px;
    .side {
        position: absolute;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        min-width: 655px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .front {
        -webkit-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .back {
        -o-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
    &.flipped {
        .side {
            -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .front {
            -o-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }
        .back {
            -o-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }
}
