@import "../variables.scss";

.node_container {
    padding: $node_padding + px;
    z-index: $z_nodes;
    position: absolute;

    &.dragging {
        z-index: $z_dragging;
        .node {
            box-shadow: $node_shadow $node_shadow_color;
            .add {
                visibility: hidden !important;
            }
            transition: none;
            border-radius: $curvature;
        }
    }

    &.ghost {
        opacity: .5;
        transition: none;
        z-index: $z_dragging;
    }

    &.nondragged {
        opacity: .6;
        transition: opacity 400ms ease;
    }

    .node {
        border: 1px solid $borders;
        border-radius: $curvature;
        background: #fff;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all 100ms ease-in-out;
        cursor: pointer;
        display: table;

        .cropped {
            box-shadow: -1px -1px 0px 0px $node_shadow_color;
            overflow: hidden;
            min-width: $node_width;
            border-top-left-radius: $curvature;
            border-top-right-radius: $curvature;
        }

        .actions {
            width: $node_width;
            background: #fff;
        }

        &.translating {

            .actions {
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                overflow: hidden;
            }

            .unnamed_exit {
                &.exit_table {
                    height: inherit;
                    border-top: none;

                    .exits {
                        height: inherit;
                    }
                    .exit {
                        padding: 0 !important;
                        margin: 0;
                    }
                }
            }
        }

        .exit_table {
            display: table;
            width: 100%;
            box-shadow: -1px -1px 0px 0px $node_shadow_color;
            border-bottom-left-radius: $curvature;
            border-bottom-right-radius: $curvature;

            .exits {
                border-collapse: collapse;
                display: table-row;
                height: 7px;
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
        }
        .drag_group {
            position: absolute;
            visibility: hidden;
            bottom: $node_padding + px;
            left: $node_padding + px;
            padding: 3px;
            color: $light_gray - #222;
            font-size: 8px;
            text-decoration: none;
            cursor: move;
            z-index: $z_group_drag_anchor;
            &:hover {
                color: $light-gray - #333;
                border-color: $light_gray - #222;
            }
        }
        .add {
            position: absolute;
            right: $node_padding / 2 + px;
            bottom: $node_padding / 2 + px;
            visibility: hidden;
            color: $blue;
            text-decoration: none;
            background: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            line-height: 8px;
            font-size: 14px;
        }
        &:hover {
            .add {
                visibility: visible;
            }
            .drag_group {
                visibility: visible;
            }
        }
    }
}

.active {
    position: absolute;
    background: $active_color;
    border: 1px solid $active_color - #111;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 3px 5px;
    color: #fff;
    font-weight: 500;
    top: -10px;
    left: -10px;
    font-size: 13px;
    min-width: 22px;
    text-align: center;
    cursor: default;
}
