@import '../variables.scss';

.random {
    background: $light_gray;
}

.wait_for_response {
    background: $dark_blue;
}

.add_contact_groups {
    background: $green;
}

.remove_contact_groups {
    background: $red;
}

.send_email {
    background: $purple;
}

.msg,
.send_msg {
    background: $blue;
}

.start_flow {
    background: $pink;
}

.add_label {
    background: $blue_baby;
}

.set_contact_property,
.set_contact_field,
.set_run_result,
.set_language,
.set_contact_channel {
    background: $teal;
}

.subflow, .split_by_expression, .split_by_groups {
    background: $gray;
}

.call_webhook {
    background: $orange;
}

.breaks {
    word-wrap: break-word;
}

.url {
    width: $node_width
}

.modal_side_0 {}

.modal_side_1 {
    $color_1: rgba(0, 0, 0, .08);
    $color_2: rgba(0, 0, 0, .05);
    background-image: repeating-linear-gradient(60deg, $color_1, $color_1 12px, $color_2 12px, $color_2 24px);
}

.advanced_title {
    font-size: 12px;
}
