@import "./variables.scss";
body {
    .ReactModal__Content {
        overflow: visible !important;
        top: 70px !important;
        box-shadow: 1px 1px 5px 1px #555;
    }
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, .6) !important;
        z-index: $z_modal;
    }
    &.ReactModal__Body--open {
        overflow-y: hidden !important;
    }
    .ReactModal__Overlay {
        background-color: rgba(0, 0, 0, .6) !important;
        z-index: $z_modal;
    }
    .ReactModalPortal .ReactModal__Overlay {
        // transition: opacity 100ms ease-in-out;
        background: rgba(0, 0, 0, 0.15);
        &--after-open {
            opacity: 1;
        }
        &--before-close {
            opacity: 0;
        }
    }
    .ReactModalPortal>div {
        opacity: 0;
    }
    .select-invalid {
        .Select-control {
            border-color: $error_color !important;
        }
        .Select-menu-outer {
            border-left-color: $error_color !important;
            border-right-color: $error_color !important;
            border-bottom-color: $error_color !important;
        }
    }
    .select-medium {
        .Select-menu-outer {
            z-index: 6000;
            .Select-option {
                font-size: 13px;
                padding: 5px 10px;
            }
        }
        .Select-control {
            font-size: 13px;
            height: 28px;
            .Select-placeholder {
                line-height: 26px;
            }
            .Select-value {
                line-height: 26px !important;
                .Select-value-label {
                    line-height: 26px;
                }
            }
            .Select-input {
                height: 26px;
            }
        }
    }
    .select-small {
        .Select-menu-outer {
            z-index: 6000;
            .Select-option {
                font-size: 11px;
                padding: 3px 10px;
            }
        }
        .Select-control {
            font-size: 11px;
            height: 24px;
            .Select-placeholder {
                line-height: 22px;
            }
            .Select-value {
                line-height: 22px !important;
                .Select-value-label {
                    line-height: 22px;
                }
            }
            .Select-input {
                height: 22px;
            }
        }
    } // jsplumb, no text selection while dragging
    .jtk-drag-select * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .jtk-drag-active {
        &.jtk-endpoint {
            visibility: hidden !important;
        }
    }
    .jtk-connector {
        z-index: $z_connectors;
        &.jtk-dragging {
            z-index: $z_dragging;
        }
        color: purple;
    }
    .jtk-endpoint {
        z-index: $z_endpoints;
    }
    .plumb-exit .jtk-connected {
        background: $path_color !important;
        border: 2px solid $path_color - #111 !important;
    }
    .plumb-drop-hover {
        box-shadow: 0 0 2px 1px $hover;
    }
    .plumb-endpoint-hover {
        cursor: pointer;
    }
}

svg.confirm_delete path {
    stroke: $red;
    fill: $red;
}

svg.translating path {
    stroke: $translation_connector;
    fill: $translation_connector;
}

.clearfix {
    clear: both;
}

.emph {
    font-weight: 500;
}


/*
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
*/