@import 'variables.module.scss';

:global {
  ::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important;
  }

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #777;

    #editor-container {
      height: 100%;
      width: 100%;
      position: relative;
    }

    .ReactModal__Content {
      overflow: visible !important;
      top: 50px !important;
      background: none !important;
    }

    &.ReactModal__Body--open {
      height: 100vh !important;
      overflow-y: hidden !important;
      margin: 0 0 5px !important;
    }

    .ReactModal__Overlay {
      background-color: rgba(0, 0, 0, 0.6) !important;
      z-index: $z_modal;
    }

    .ReactModalPortal .ReactModal__Overlay {
      background: rgba(0, 0, 0, 0.15);
      &--after-open {
        opacity: 1;
      }
      &--before-close {
        opacity: 0;
      }
    }

    .ReactModalPortal > div {
      opacity: 0;
    }

    .react-select {
      input {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        line-height: 28px;
        margin-left: 3px;
        transition: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }

    .select-small {
      .react-select {
        input {
          margin-left: 0px;
          line-height: 13px;
          font-size: 13px;
          height: 16px;
        }
      }
    }

    // jsplumb, no text selection while dragging
    .jtk-drag-select * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .jtk-drag-active {
      &.jtk-endpoint {
        visibility: hidden !important;
      }
    }

    svg.jtk-connector {
      z-index: $z_connectors;
      &.jtk-dragging {
        z-index: $z_dragging;
      }

      path {
        stroke: $connector_color;
        &.jtk-arrow {
          fill: $connector_color;
        }
      }

      &.jtk-hover {
        path {
          stroke: $connector_hover_color;
          &.jtk-arrow {
            fill: $connector_hover_color;
          }
        }
      }

      &.confirm-delete {
        path {
          stroke: $red;
          &.jtk-arrow {
            fill: $red;
          }
        }
      }

      &.translating {
        path {
          stroke: $translation_connector;
          fill: $translation_connector;
          &.jtk-arrow {
            stroke: $translation_connector;
            fill: $translation_connector;
          }
        }
      }
    }

    .jtk-endpoint {
      z-index: $z_endpoints;
      width: 16px;
      height: 16px;
    }

    .plumb-exit .jtk-connected {
      background: $path_color !important;
      border-bottom: 1px solid $connector_color;
    }

    .plumb-endpoint-hover {
      cursor: pointer;
    }
  }

  /*
  .Select-clear-zone {
    display: none !important;
  }
  */

  .clearfix {
    clear: both;
  }

  .emph {
    font-weight: 500;
  }

  /*input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
}*/

  // input[type=text]:focus, textarea:focus {
  //    box-shadow: 0 0 0 3px #E7F2FF;
  //    border: 1px solid #1681FB;
  // }
}
