
#header {
    height: 40px;
    width: 100%;
    background: #444;
}




.dragging {
    .nodes {
        .node {
            opacity: 0.6;
            &.jtk-dragged {
                opacity: 1;
            }
        }
    }
}

.emph {
    font-weight: 600;
}

#flow {
    position: relative;
}

.loading {
    #flow {
        visibility: hidden;
    }
}

.breaks {
    word-wrap:break-word;
}

.url {
    width: $node_width
}

.nodes {
    top: 0;
    height: 20000px;
    //position: absolute;
    

}

.modal-backdrop {
    background: red;
}

textarea, input, button { outline: none; }


.lead-in {
    margin-bottom: 15px;
}

body {
    &.night {
        background-color: #333;
        .flow-editor-modal {
            color: #ccc;
            background: #666;
            .flow-editor-modal-footer {
                background: #999;
                border-color: #555;
            }
        }

        .node {
            background: #666;
            color: #ccc;
            .exit-table {
                border-color: #444 !important;
                .exit {
                    border-color: #444 !important;
                }
            }
        }
    }
}


.form-label {
    margin: 5px 2px;
    font-size: 14px;
    font-weight: 500;
}

.form-help {
    margin: 5px 2px;
    font-size: 11px;
    line-height: 13px;
    color: $med_grey;
}   

.form-group {
    margin-bottom: 10px;

    &.invalid {                
        input, textarea {
            border-color: $error_color !important;
        }

        .error {
            display: block;
        }
    }

    .error {
        display: none;
        color: $error_color;
        padding:5px 2px;
        font-size: 9px;
    }
}