$yellow: #ffe027;
$orange: #e68628;
$green: #309c42;
$teal: #00b9a7;
$purple: #7a78bf;
$lavender: #80a9fb;
$blue: #3498db;
$gray: #666;
$pink: #df419f;
$red: tomato;
$black: #444;

$dark_blue: #4d7dad;
