$blue: #86a9ca;
$blue_baby: #80b9fb;
$blue_bold: #3498db;
$green: #5ca869;
$purple: #80668d;
$red: #c14c46;
$orange: #e68628;
$teal: #00ac9a;
$yellow: #fff6c0;
$light_grey: #e6e6e6;
$light_grey_2: $light_grey+#111;
$med_grey: #ccc;
$pink: #9e2e71;
$grey: #666;
$light_text: #ffffff;
$text_color: #777;
$simulator_blue: #2095FE;
$translation_connector: #dfdfdf;
$translation_bg: rgb(255, 254, 221); //$yellow+#111;
$translation_text: $text_color;
$active_color: $blue_bold;
$activity_color: $light_grey_2;
$error_color: $orange;
$placeholder_color: $light_grey;
$selected_background: #2095FE;
$selected_color: $light_text;
$workspace: $light_grey;
$borders: $light_grey;
$hover: $teal;
$button_light: #3498db;
$button_dark: #2980b9;
$button_hover: #3cb0fd;
$button_light: $blue;
$button_dark: $blue - #111;
$button_hover: $blue+#111;
$terminal_color: $red;
$path_color: #98C0D9;
$inner_spacing: 15px;
$z_connectors: 100;
$z_nodes: 150;
$z_endpoints: 200;
$z_counters: 225;
$z_dragging: 250;
$z_group_drag_anchor: 300;
$z_language_selector: 400;
$z_simulator: 999;
$z_modal: 2000;
$z_completion: 2100;
$node_width: 200px;