@import "./palette_ec.scss";

// generic colors
$blue_selected: #e6f7ff;
$blue_baby: #80b9fb;
$blue_bold: #3498db;
$light_grey: #e6e6e6;
$light_grey_2: $light_grey+#111;
$med_grey: #ccc;

// specific color styling
$node_shadow: 4px 4px 0px 0px;
$node_shadow_color: rgba(99, 184, 226, 0.1);
$node_shadow_hover: rgba(145, 218, 255, .25);
$connector_color: rgb(142, 217, 255);
$path_color: #fff;
$text_color: #666;
$borders: rgba(145, 218, 255, .3);
$active_color: $blue_bold;
$activity_color: $light_grey_2;
$terminal_color: $red;
$error_color: $red;
$placeholder_color: $light_grey;

// properties
$node_width: 200px;
$curvature: 7px;

$shadow_color: rgba(0, 0, 0, .15);
$shadow_down: 0 2px 8px $shadow_color;

// localization
$translation_connector: #ddd;
$translation_bg: rgb(255, 254, 221);
$translation_text: #92928b;
$translation_missing: #da8d7a;

// buttons
$button_light: $blue;
$button_dark: $blue - #111;
$button_hover: $blue+#111;

// z index ordering
$z_connectors: 100;
$z_nodes: 150;
$z_endpoints: 200;
$z_counters: 225;
$z_dragging: 250;
$z_group_drag_anchor: 300;
$z_editor_menu: 400;
$z_simulator: 999;
$z_modal: 2000;
$z_completion: 2100;
