@import "../../variables.scss";

.titlebar {
    padding: 0px;
    width: auto;
    color: #fff;
    font-weight: normal;
    text-align: center;
    border: 0px solid transparent;

    .normal {
        padding: 6px 23px;
    }

    .remove_confirm {
        position: absolute;
        margin-top: -27px;
        border: 0px solid #c14c46;
        background: #c14c46;
        border-top-left-radius: $curvature;
        border-top-right-radius: $curvature;
        padding: 6px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:not(first-child) {
            border-top-left-radius: none;
            border-top-right-radius: none;
        }

        .remove_button {
            visibility: visible;
        }
    }

    .remove_button {
        position: absolute;
        padding-right: 10px;
        visibility: hidden;
        font-size: 15px;
        line-height: 12px;
        width: 20px;
        right: 0;
    }

    .up_button {
        // float: left;
        position: absolute;
        visibility: hidden;
        font-size: 10px;
        line-height: 15px;
        padding-left: 10px;
        width: 20px;
        left: 0px;
    }

    &:hover {
        .remove_button {
            visibility: visible;
        }
        .up_button {
            visibility: visible;
        }
    }
}
