.method {
    width: 15%;
    float: left;
    margin-right: 10px;
}

.url {
    width: 439px;
    display: inline-block;
}

.code {
    background: #f3f3f3;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}