@font-face {
  font-family: 'floweditor';
  src: url('fonts/floweditor.ttf?8ceiuj') format('truetype'),
    url('fonts/floweditor.woff?8ceiuj') format('woff'),
    url('fonts/floweditor.svg?8ceiuj#floweditor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='fe-'],
[class*=' fe-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'floweditor' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-document-file-pdf:before {
  content: '\e90b';
}
.fe-battery1:before {
  content: '\e902';
}
.fe-language:before {
  content: '\e90a';
}
.fe-notification:before {
  content: '\e908';
}
.fe-warning:before {
  content: '\e909';
}
.fe-eye:before {
  content: '\e6a5';
}
.fe-eye-crossed:before {
  content: '\e6a6';
}
.fe-home:before {
  content: '\e601';
}
.fe-apartment:before {
  content: '\e60c';
}
.fe-pencil:before {
  content: '\e60d';
}
.fe-labels-square:before {
  content: '\e627';
}
.fe-pencil-ruler:before {
  content: '\e62d';
}
.fe-toggle-off:before {
  content: '\e670';
}
.fe-toggle-on:before {
  content: '\e671';
}
.fe-cog:before {
  content: '\e672';
}
.fe-wrench:before {
  content: '\e674';
}
.fe-trash2:before {
  content: '\e680';
}
.fe-trash:before {
  content: '\e681';
}
.fe-heart:before {
  content: '\e68c';
}
.fe-at-sign:before {
  content: '\e695';
}
.fe-envelope:before {
  content: '\e696';
}
.fe-envelope-open:before {
  content: '\e697';
}
.fe-paperclip:before {
  content: '\e698';
}
.fe-paper-plane:before {
  content: '\e699';
}
.fe-back:before {
  content: '\e69a';
}
.fe-reply-all:before {
  content: '\e69b';
}
.fe-archive:before {
  content: '\e69f';
}
.fe-copy:before {
  content: '\e6b8';
}
.fe-papers:before {
  content: '\e6d4';
}
.fe-settings:before {
  content: '\e6f2';
}
.fe-video:before {
  content: '\e6f9';
}
.fe-picture2:before {
  content: '\e70f';
}
.fe-pictures:before {
  content: '\e711';
}
.fe-label-plain:before {
  content: '\e717';
}
.fe-contacts:before {
  content: '\e71a';
}
.fe-profile:before {
  content: '\e71b';
}
.fe-user:before {
  content: '\e71e';
}
.fe-group:before {
  content: '\e723';
}
.fe-users-plus:before {
  content: '\e724';
}
.fe-users-minus:before {
  content: '\e725';
}
.fe-label:before {
  content: '\e755';
}
.fe-labels:before {
  content: '\e756';
}
.fe-telephone:before {
  content: '\e76a';
}
.fe-phone-wave:before {
  content: '\e76c';
}
.fe-phone-outgoing:before {
  content: '\e76e';
}
.fe-phone-incoming:before {
  content: '\e76f';
}
.fe-phone-in-out:before {
  content: '\e770';
}
.fe-dial:before {
  content: '\e776';
}
.fe-map-marker:before {
  content: '\e77a';
}
.fe-calendar-full:before {
  content: '\e789';
}
.fe-delete:before {
  content: '\e794';
}
.fe-signal-80:before {
  content: '\e79c';
}
.fe-sim:before {
  content: '\e7a2';
}
.fe-flash-memory:before {
  content: '\e7a3';
}
.fe-smartphone:before {
  content: '\e7a6';
}
.fe-smartphone-vibration:before {
  content: '\e7a8';
}
.fe-smartphone-embed:before {
  content: '\e7a9';
}
.fe-lamp:before {
  content: '\e7bc';
}
.fe-battery-mid3:before {
  content: '\e7ca';
}
.fe-bubble:before {
  content: '\e7d6';
}
.fe-bubbles:before {
  content: '\e7d7';
}
.fe-bubble-dots:before {
  content: '\e7d8';
}
.fe-bubble-text:before {
  content: '\e7db';
}
.fe-bubble-pencil:before {
  content: '\e7dc';
}
.fe-bubble-picture:before {
  content: '\e7dd';
}
.fe-bubble-video:before {
  content: '\e7de';
}
.fe-bubble-user:before {
  content: '\e7df';
}
.fe-bubble-quote:before {
  content: '\e7e0';
}
.fe-bubble-heart:before {
  content: '\e7e1';
}
.fe-bubble-attachment:before {
  content: '\e7e3';
}
.fe-construction:before {
  content: '\e7f6';
}
.fe-pie-chart:before {
  content: '\e7f8';
}
.fe-pie-chart2:before {
  content: '\e7f9';
}
.fe-chart-bars:before {
  content: '\e7fc';
}
.fe-rank:before {
  content: '\e801';
}
.fe-rocket:before {
  content: '\e837';
}
.fe-briefcase:before {
  content: '\e83a';
}
.fe-cube:before {
  content: '\e874';
}
.fe-grid:before {
  content: '\e880';
}
.fe-split:before {
  content: '\e883';
}
.fe-earth:before {
  content: '\e884';
}
.fe-happy:before {
  content: '\e889';
}
.fe-wifi:before {
  content: '\e8b7';
}
.fe-mic:before {
  content: '\e8cb';
}
.fe-hourglass:before {
  content: '\e8cf';
}
.fe-spinner:before {
  content: '\e8da';
}
.fe-return:before {
  content: '\e8e1';
}
.fe-time:before {
  content: '\e8e4';
}
.fe-alarm:before {
  content: '\e8ea';
}
.fe-alarm-check:before {
  content: '\e8ed';
}
.fe-download:before {
  content: '\e8f5';
}
.fe-enter-up:before {
  content: '\e8f7';
}
.fe-enter-down:before {
  content: '\e8f8';
}
.fe-file-zip:before {
  content: '\e90e';
}
.fe-link:before {
  content: '\e917';
}
.fe-split-horizontal:before {
  content: '\e920';
}
.fe-connection:before {
  content: '\e921';
}
.fe-x:before {
  content: '\e92a';
}
.fe-menu:before {
  content: '\e92b';
}
.fe-list:before {
  content: '\e92c';
}
.fe-menu-thick:before {
  content: '\e92f';
}
.fe-list-bulleted:before {
  content: '\e930';
}
.fe-check:before {
  content: '\e934';
}
.fe-arrow-up:before {
  content: '\e939';
}
.fe-chevrons-expand:before {
  content: '\e93d';
}
.fe-arrows-split:before {
  content: '\e947';
}
.fe-move:before {
  content: '\e94e';
}
.fe-expand4:before {
  content: '\e952';
}
.fe-contract3:before {
  content: '\e953';
}
.fe-menu-circle:before {
  content: '\e958';
}
.fe-checkmark-circle:before {
  content: '\e959';
}
.fe-plus-circle:before {
  content: '\e95b';
}
.fe-arrow-up-circle:before {
  content: '\e95e';
}
.fe-arrow-down-circle:before {
  content: '\e95f';
}
.fe-arrow-left-circle:before {
  content: '\e960';
}
.fe-arrow-right-circle:before {
  content: '\e961';
}
.fe-chevron-up-circle:before {
  content: '\e962';
}
.fe-chevron-down-circle:before {
  content: '\e963';
}
.fe-chevron-left-circle:before {
  content: '\e964';
}
.fe-chevron-right-circle:before {
  content: '\e965';
}
.fe-play-circle:before {
  content: '\e96a';
}
.fe-pause-circle:before {
  content: '\e96b';
}
.fe-layers:before {
  content: '\e977';
}
.fe-square:before {
  content: '\e98d';
}
.fe-check-square:before {
  content: '\e999';
}
.fe-circle:before {
  content: '\e99d';
}
.fe-ellipsis:before {
  content: '\e9e9';
}
.fe-stop:before {
  content: '\e907';
}
.fe-play_arrow:before {
  content: '\e906';
}
.fe-pause:before {
  content: '\e905';
}
.fe-facebook:before {
  content: '\e904';
}
.fe-connection1:before {
  content: '\e97c';
}
.fe-battery-4:before {
  content: '\ee56';
}
.fe-add:before {
  content: '\e901';
}
.fe-whatsapp:before {
  content: '\e903';
}
.fe-battery:before {
  content: '\e900';
}
